body 
 {
    min-height: 100%;
    background-color: #003C47;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
  }

img {
  max-width: 100%;
  height: auto;
}

a{
    font-family: 'Open Sans', sans-serif;

}

#bannerimage {
  width: 100%;
  background-image: /banner.jpg;
  height: 405px;
  background-color: purple;
  background-position: center;
}

  a:link, a:visited {
    background-color: #003C47;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
    background-color: #00A3BF;
  }
