
body 
 {
    min-height: 100%;
    background-color: #003C47;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
  }
a{
    font-family: 'Open Sans', sans-serif;

}

  a:link, a:visited {
    background-color: #003C47;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
    background-color: #00A3BF;
  }
